@import "tailwindcss";

@theme inline {
  --color-background: #FCF7F8;
  --color-foreground: #36346c;
  
  --color-brand-white: #FCF7F8;
  --color-brand-pink: #f29bb5;
  --color-brand-navy: #36346c;
  
  --font-sans: var(--font-poppins), Arial, sans-serif;
  --font-accent: var(--font-tangerine), cursive;
}

/* Hide Next.js Development Indicators */
nextjs-portal {
  display: none !important;
}
[data-nextjs-toast] {
  display: none !important;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
